## ToolChanger config file
## Designed to be used with the "klipper-toolchanger" software backend by Viestruz: https://github.com/viesturz/klipper-toolchanger

[gcode_macro _USER_VARIABLES]
variable_klippain_toolchanger_enabled: True
gcode:
