########################################### \
########  VORON ZERO CONFIG FILE  #########  + --> Preset files for Stock VORON Zero :)
########################################### /

#Stock voron 0.2 preset
#if you go mod, You can Copy&Paste in your override.cfg.

# ----------------------------------------------------------------------------------------


#-------------------------#
#   HARDWARE COMPONENTS   #
#-------------------------#

# ---------------------------------------------------------------- PRINTER KINEMATICS ----> Select only one line
### --------------------------------------------------------------------------------------
[include config/kinematics/corexy.cfg]      # V0 is CoreXY.
# ----------------------------------------------------------------------------------------


# ---------------------------------------------------------------------- MACHINE AXIS ----> Select only one line for each axis
### X axis -------------------------------------------------------------------------------
[include config/hardware/axis/X/1.8deg.cfg]
# [include config/hardware/axis/X/0.9deg.cfg] # Use override.cfg instead.
### Y axis -------------------------------------------------------------------------------
[include config/hardware/axis/Y/1.8deg.cfg]
# [include config/hardware/axis/Y/0.9deg.cfg] # Use override.cfg instead.
### Z axis -------------------------------------------------------------------------------
[include config/hardware/axis/Z/V0_TR8x8_1.8deg.cfg]
# [include config/hardware/axis/Z/V0_TR8x4_1.8deg.cfg] # Use override.cfg instead.
# ----------------------------------------------------------------------------------------


# ---------------------------------------------------------------- PRINTER DIMENSIONS ----> Select only one line
### --------------------------------------------------------------------------------------
[include config/hardware/axis/size/120mm.cfg] # Stock VORON Zero size. Modded Zero like Pandora, Use override.cfg instead.
# ----------------------------------------------------------------------------------------


# -------------------------------------------------------------------------- EXTRUDER ----> Select only one line
### 1. Motors configuration --------------------------------------------------------------
[include config/hardware/extruder/cw2.cfg] # miniSB, if you using Mod, Use override.cfg instead.
# ----------------------------------------------------------------------------------------


# ------------------------------------------------------------------------ HEATED BED ----
### --------------------------------------------------------------------------------------
[include config/hardware/bed_heaters/keenovo.cfg] # Yes. it has heated bed.
# ----------------------------------------------------------------------------------------


# ----------------------------------------------------------------------------- PROBE ----> Select only one line
### --------------------------------------------------------------------------------------
## No probe installed, like on a stock Voron V0 or equivalent
[include config/hardware/probes/no_probe.cfg] # For stock VORON Zero. if you using probe, Use override.cfg instead.

## Dockable probes, like Klicky, Euclid or equivalent (available also in virtual Z endstop variant)
# [include config/hardware/probes/dockable.cfg] 
# [include config/hardware/probes/dockable_virtual.cfg]
# ----------------------------------------------------------------------------------------


# ------------------------------------------------------------------------------ FANS ----> You can select multiple lines
### --------------------------------------------------------------------------------------
[include config/hardware/fans/hotend_fan.cfg]
[include config/hardware/fans/part_fan.cfg]
# ----------------------------------------------------------------------------------------

# ---------------------------------------------------------------------------- SERVOS ----> Select only one line
### --------------------------------------------------------------------------------------
# Stock VORON Zero and many kits not have servos. but if you want some, Use override.cfg instead. 
# ----------------------------------------------------------------------------------------

# --------------------------------------------------------------------------- DISPLAY ----> Select only one line
### --------------------------------------------------------------------------------------
### For a V0 display with an integrated MCU, don't forget to override the MCU serial port in your overrides.cfg file
[include config/hardware/displays/V0_display.cfg] # if you go Headless or klipperScreen, Use Override.cfg instead.
# ----------------------------------------------------------------------------------------


# --------------------------------------------------------------- TEMPERATURE SENSORS ----> You can select multiple lines
### --------------------------------------------------------------------------------------
# [include config/hardware/temperature_sensors/rpi_temp.cfg]
[include config/hardware/temperature_sensors/mcu_temp.cfg]
# [include config/hardware/temperature_sensors/toolhead_mcu_temp.cfg] # for some kits using toolhead mcu board.
# [include config/hardware/temperature_sensors/chamber_temp.cfg] # for some kits have V0-Umbilical mod or have chamber temp sensor. 
# ----------------------------------------------------------------------------------------


# ------------------------------------------------------------------- LIGHTS AND LEDS ----
### --------------------------------------------------------------------------------------
# some kits may have lights, if you so, use override.cfg
# ----------------------------------------------------------------------------------------


# ------------------------------------------------------------------ FILAMENT SENSORS ----> Select only one line
### --------------------------------------------------------------------------------------
[include config/hardware/filament_sensors/switch_sensor.cfg] #Stock VORON 0.2 have Filament switch.
# ----------------------------------------------------------------------------------------


# --------------------------------------------------------------------- ACCELEROMETER ----> Select only one line
### --------------------------------------------------------------------------------------
# Use override.cfg instead.
# ----------------------------------------------------------------------------------------


# --------------------------------------------------------------------------- FILTERS ----> You can select multiple lines
### --------------------------------------------------------------------------------------
# [include config/hardware/filters/nevermore_filter.cfg] # Stock V0 and many kits not have Nevermore, but recommended for ABS Prints.
# ----------------------------------------------------------------------------------------


# --------------------------------------------------------------------------- MMU/ERCF ----> You need to select both lines or none
### --------------------------------------------------------------------------------------
# Use override.cfg instead.
# ----------------------------------------------------------------------------------------



#---------------------------------#
#   KLIPPER SOFTWARE COMPONENTS   #
#---------------------------------#

# -------------------------------------------------------------------------- BED MESH ----> Select only one line
### --------------------------------------------------------------------------------------
# [include config/software/bed_mesh/bed_mesh_120mm.cfg] # Stock VORON Zero has no Probe, so leave Commented
# ----------------------------------------------------------------------------------------

# ----------------------------------------------------------------- SENSORLESS HOMING ----> Select only one line
### --------------------------------------------------------------------------------------
[include config/software/sensorless_homing/sensorless_TMC2209.cfg] # for VORON 0.2, Sensorless Homing is default.

### Follow the Klipper documentation here: https://www.klipper3d.org/TMC_Drivers.html#sensorless-homing
### to find the best suited SGTHRS value according to your machine. Then add this value to your
### overrides.cfg as stated in the config/software/sensorless_homing.cfg file!
# ----------------------------------------------------------------------------------------


# --------------------------------------------------------------- FIRMWARE RETRACTION ----
### --------------------------------------------------------------------------------------
# [include config/software/firmware_rectraction.cfg] #if you want, use override.cfg
# ----------------------------------------------------------------------------------------


# ---------------------------------------------------------------------- INPUT SHAPER ----
### --------------------------------------------------------------------------------------
[include config/software/input_shaper.cfg] # OK. Just don't forget to calibrate it!
# ----------------------------------------------------------------------------------------


# --------------------------------------------------------------------------- TILTING ----> Select only one line
### --------------------------------------------------------------------------------------
# [include config/software/tilting/z_tilt_120mm.cfg] # for triple-Z machine like Crucible, Tri-Zero, Hex-Zero or equivalent
[include config/software/tilting/bedscrews_120mm.cfg] # for Stock VORON Zero.
# ----------------------------------------------------------------------------------------


# ---------------------------------------------------------------- AUTO Z CALIBRATION ----
### --------------------------------------------------------------------------------------
# Use override.cfg instead.
# ----------------------------------------------------------------------------------------
